.npm/

# testing
/coverage

# production
/build
build/

# other
/.pnp
.pnp.js
*.tgz
node_modules/
/.changelog
..idea/
.vscode/
template/src/__tests__/__snapshots__/
my-app*
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
